body > main {
    padding: 0;
}

body {
    padding-bottom: 50vh;
}

label.range {
    display: inline-block;
    position: relative;
    padding-bottom: 1em;
}

input::after {

    content: attr( value );
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 66%;
}

form section {
    margin-bottom: 0;
}

h1 {
    text-align: right;
    font-size: 80%;
    margin: 1em 0;
}

form section h2, 
form section h3, 
form section h4, 
form section h5, 
form section h6 {

    margin-bottom: 1em;
    border-bottom: solid;
    color: var(--primary)
}

form section h2 { font-size: 100% } 
form section h3 { font-size: 90% } 
form section h4 { font-size: 80% } 
form section h5 { font-size: 70% } 
form section h6 { font-size: 60% }

form section h2 > button {
    display: inline-block;
    width: min-content;
    padding: 0 .32em;
}

output {
    font-size: 150%;
    display: block;
    padding: 1.4em;
    border-top: solid;
}